/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Poppins', sans-serif;
}

html, body { 
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0 ; 
}